body {
  background: #111;
  color: #fff;
  margin: 0;
  font-family: sans-serif;
}

/* ヘッダー */
.page-header {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 8vw;
}

.title-bg {
  position: absolute;
  width: 100%;
  height: 40vh;
  object-fit: cover;
  opacity: 0.2;
  transform: scale(1.1);
  z-index: 0;
}

.page-header h1 {
  font-size: 4rem;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.page-header h1::after {
  content: "";
  display: block;
  width: 866px;
  height: 2px;
  background: #fff;
  margin-top: 16px;
  opacity: 0.6;
}

.page-header p {
  margin-top: 40px;
  color: #ffffff;
  font-size: 1.3rem;
}

.choose-points {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 80px;
}

.point {
  border-left: 2px solid #fff;
  padding-left: 30px;
  position: relative;
}

.num {
  position: absolute;
  left: -10px;
  top: -20px;
  font-size: 3rem;
  opacity: 0.3;
}

.point h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  margin-top: 80px;
}

.point p {
  color: #aaa;
  line-height: 1.8;
}

/* ボタン */
.point-links {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.line-btn {
  position: relative;
  color: #fff;
  text-decoration: none;
}

.line-btn span {
  position: relative;
}

.line-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 0;
  height: 1px;
  background: #fff;
  transition: 0.3s;
  transform: translateX(-50%);
}

.line-btn:hover::after {
  width: 100%;
}

/* セクションタイトル */
.section-title {
  text-align: center;
  margin: 200px 0 100px;
  font-size: 2.1rem;
  letter-spacing: 0.1em;
}

/* おすすめ */
.recommend-card {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-bottom: 80px;
}

.recommend-card.reverse {
  flex-direction: row-reverse;
}

/* 画像 */
.recommend-img img {
  width: 300px;
  height: auto;
  display: block;
}

/* テキスト */
.recommend-text h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.recommend-text p {
  color: #d8d7d7;
  line-height: 1.8;
}

footer {
  padding: 40px 8vw;
  border-top: 1px solid #222;
  color: #666;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  text-align: center;
}
